.items-header {
  text-align: center;
  font-size: 28px;
  margin: 20px 0;
  line-height: 34px;
  color: var(--color-button);
}

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 80vw;
  height: calc(100vh - 154px);
  padding-bottom: 12px;
  margin: 0 auto;
}

.item-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.item-image {
  width: 100%;
  height: auto;
  display: block;
}

.item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color-white);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.item-info-column {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  font-size: 18px;
  width: 33%;
  text-align: left;
  line-height: 0.1;
}
.item-info h3 {
  margin-bottom: 5px;
  font-size: 20px;
  width: 100%;
}
